body,
html {
  height: 100%;
  background:#d23553;
  padding: 0;
}

body {
  border:10px solid white;

}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  display:inline;
  padding:0 10px;
}

ul li i {
  transition:.1s;
}

ul li i:hover {
  color:#902338;
  text-shadow: 0 0 2px white;
}

.w3-display-bottomright {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: 10px;
  font-size: 10px;
}

img.SGF {
  width:100px;
}

@media (min-width:769px) {

  ul.icon-list-small {
    display:none;
  }
  ul.icon-list-large {
    font-size: 1.5em;
  }
}

@media (max-width:768px) {
  ul.icon-list-large {
    display:none;
  }

  .w3-display-middle img {
    width:300px;
  }

  .w3-display-bottomright {
    right: 0;
    bottom: 10px;
  }

  img.SGF {
    width:80px;
  }

}

@media (max-width:415px) {
  .w3-display-middle {
    position: absolute;
    top: 30% !important;
    left: 80% !important;
  }
  .w3-display-middle img {
    width:130px !important;
  }

  .w3-display-bottomright {
    /* background: rgb(75, 4, 24);
    height:100px;
    width:100vw;
    transform:scale(1.1); */
    /* position: absolute;
    width: 300px;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: 15% -10%;
    left: 115%;
    bottom: -10%;
    font-size: 10px;
    overflow: hidden; */
    color:black;
    right:-80px;
  }

  img.SGF {
    width:80px;
    background-clip: content-box;
  }
}
