body,
html {
  height: 100%;
  background:#d23553;
  padding: 0;
}

body {
  border:10px solid white;

}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  display:inline;
  padding:0 10px;
}

ul li i {
  transition:.1s;
}

ul li i:hover {
  color:#902338;
  text-shadow: 0 0 2px white;
}

.w3-display-bottomright {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: 10px;
  font-size: 10px;
}

img.SGF {
  width:100px;
}

.show-on-x-small {
  display:none;
}

@media (min-width:769px) {

  ul.icon-list-small {
    display:none;
  }
  ul.icon-list-large {
    font-size: 1.5em;
  }
}

@media (max-width:768px) {
  ul.icon-list-large {
    display:none;
  }

  .w3-display-middle img {
    width:300px;
  }

  .w3-display-bottomright {
    right: 0;
    bottom: 10px;
  }

  img.SGF {
    width:80px;
  }

}

@media (max-width:415px) {
  .w3-display-middle {
    position: absolute;
    top: 30% !important;
    left: 80% !important;
  }
  .w3-display-middle img {
    width:130px !important;
  }

  .w3-display-bottomright {
    color:black;
    width:200px;
    right:0;
    transform:translate(50px,-20px);
    color: white;
  }

  .show-on-x-small {
    display:block;
  }

  img.SGF {
    width:80px;
    /* background-clip: content-box; */
  }
}
