
html, body {
  margin: 0;
  position: relative;
}

.bg-img {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../img/RelievedBigAmoeba-size_restricted.gif') center center no-repeat;
  // background: url('https://i.pinimg.com/originals/4a/1d/58/4a1d5825161894d0f86df8784130b7c5.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1;

  &:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#0d1a22,#6b1e10);
    opacity: .8;
  }
  &:after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle,rgba(#000000, 0),#000000);
    // opacity: .7;
  }
}
.icon-container {
  position: fixed;
  bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  .icon {
    padding: 1em;

    a {
      i {
        color:white;
        font-size: 1.5em;
        transition:.2s;

        &:hover {
          color:#f94e4e;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

// Tablet

@media screen and (min-width: 600px) {


}
