
html, body {
  margin: 0;
  position: relative;
  background: #d23553;
}

img.bg-img {
  overflow: auto;
  position: absolute;
  width: auto;
  height: 100vh;
  background-size: cover;
  left:-10px;
  transform: scale(1.1);
}
.icon-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  .icon {
    padding: 1em;

    a {
      i {
        color:white;
        font-size: 1.5em;
        transition:.2s;

        &:hover {
          color:#f94e4e;
        }
      }
    }
  }
}

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: none;
  font-family: 'PCBius';
  color: white;

  h4 {
    font-size: .8em;
    letter-spacing: 3px;
  }

}

// Tablet
@media only screen and (max-width: 600px) {
  img.bg-img {
    height: 100vh;
    background-size: cover;
    left:-10px;
    transform: scale(1.1);
  }
}

// Phone
@media only screen and (max-width: 420px) {
  img.bg-img {
    height: 100vh !important;
    background-size: cover;
    left:-10px;
    transform: scale(1.1);
  }
}
