// Fonts

@font-face {
  font-family: Killing Eve;
  src: url('../fonts/KILLING EVE FONT.otf');
}

@font-face {
  font-family: Quiet Horror Story;
  src: url('../fonts/Quiet Horror Story.ttf');
}

@font-face {
  font-family: FilthofIcarusRegular;
  src: url('../fonts/FilthofIcarus-Regular.ttf');
}

@font-face {
  font-family: PCBius;
  src: url('../fonts/PCBius.ttf');
}

// Headers
.titleContainer {
  width: 100vw;
  color: white;
  font-family: 'Killing Eve';
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;

  h1 {
    overflow: auto;
    font-size: 200px;
    margin-bottom: 0;
  }

  h5 {
    overflow: auto;

    font-size: 40px;
    letter-spacing: 6px;
  }
}



// Tablet
@media only screen and (max-width: 600px) {
  .titleContainer {

    h1 {
      font-size: 160px;
    }

    h5 {
      // margin-top: -80px;
      font-size: 40px;
      letter-spacing: 6px;
    }
  }
}

// Phone
@media only screen and (max-width: 420px) {
  img.bg-img {
    max-width: 100%;
    max-height: 100vh;
  }

  .titleContainer {

    h1 {
      font-size: 120px;
    }


    h5 {
      margin-top: 80px;
      font-size: 40px;
      letter-spacing: 6px;
    }
  }

}
