// Fonts

@font-face {
  font-family: Quiet Horror Story;
  src: url('../fonts/Quiet Horror Story.ttf');
}

@font-face {
  font-family: FilthofIcarusRegular;
  src: url('../fonts/FilthofIcarus-Regular.ttf');
}

@font-face {
  font-family: PCBius;
  src: url('../fonts/PCBius.ttf');
}

// Headers
.introHeader,
.introCaption,
.introDate,
.footer {
  letter-spacing: 6px;
  text-align: center;
  color: white;
  font-family: 'Quiet Horror Story';
}

.introHeader {
  font-size: 9em;
  padding: 1em 0 .1em;
}

.introCaption {
  font-size: 1.4em;
  padding: .2em 1em;
  font-family: 'FilthofIcarusRegular';
}

.introDate {
  font-size: 1.8em;
  padding: 1em 1em;
  font-family: 'PCBius';
}

.footer {
  font-size: .8em;
  padding: .5em 1em;
  font-family: sans-serif;
}

@media screen and (max-width: 600px) {

  .introHeader {
    font-size: 7em;
  }

  .introCaption {
    font-size: 1.1em;
  }

  .introDate {
    font-size: 1.4em;
  }

  .footer {
    font-size: .8em;
    padding: .5em 1em;
    font-family: sans-serif;
  }
}

@media screen and (max-width: 497px) {

  .introHeader {
    font-size: 6em;
  }

  .introCaption {
    padding-top: 2em;
    font-size: 1.1em;
    max-width: 350px;
    margin: auto;
  }

  .introDate {
    padding-top: 2em;
    font-size: 1.4em;
  }

  .footer {
    font-size: .8em;
    padding: .5em 1em;
    font-family: sans-serif;
  }
}
